[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mongoengine = "*"
"pry.py" = "*"
gunicorn = "*"
flask-cors = "*"
requests = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"

[dev-packages]
pylint = "*"
autopep8 = "*"
